.container {
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  background-color: #282c34;
  font-family: 'Segoe UI', sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
  border-radius: 15px;
  border: 2px dashed white;
}
